<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags (*)must(*) come first in the head; any other head content must come (*)after(*) these tags -->

    <!-- Title  -->
    <title>Chỉnh sửa bất động sản</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/mi/location.js}"></script>
    <script th:src="@{/js/mi/home.js}"></script>
    <script th:src="@{/js/mi/buildings.js}"></script>
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/js/mi/base.js}"></script>
    <script th:src="@{/js/mi/edit-building.js}"></script>
</head>
<body onload="generatedProvince();genBuildingCategory();genBuildingDetail()">


<!-- ##### Header Area Start ##### -->
<div th:replace="common/header :: header"></div>
<!-- ##### Header Area End ##### -->

<!-- ##### Editor Area Start ##### -->
<section class="south-contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-heading">
                    <h6>Buildings info</h6>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Contact Form Area -->
            <div class="col-12 col-lg-12">
                <div class="contact-form">
                    <form method="post" action="" id="fileUploadForm" name="form_data" enctype="multipart/form-data">

                        <input type="hidden" name="id" id="id">
                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Tên bất động sản (*)</span>
                            <input type="text" class="form-control" name="name" id="name"
                                   placeholder="Tên bất động sản">
                        </div>

                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Tiêu đề bất động sản (*)</span>
                            <input type="text" class="form-control" name="title" id="title"
                                   placeholder="Tiêu đề">
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Diện tích bãi đỗ ô tô (*)</span>
                                        <input type="number" class="form-control" name="car_park" id="car_park"
                                               placeholder="Gara ôtô (m2)">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Diện tích bãi đỗ mô tô (*)</span>
                                        <input type="number" class="form-control" name="moto_park" id="moto_park"
                                               placeholder="Gara môtô (m2)">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Diện tích sàn (*)</span>
                                        <input type="number" class="form-control" name="floor_area" id="floor_area"
                                               placeholder="Diện tích sàn">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Chiều rộng mặt tiền (*)</span>
                                        <input type="number" class="form-control" name="home_frontage"
                                               id="home_frontage"
                                               placeholder="Diện tích mặt tiền">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Diện tích bãi khuân viên (*)</span>
                                        <input type="number" class="form-control" name="campus_area" id="campus_area"
                                               placeholder="diện tích khuân viên">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Số phòng ngủ (*)</span>
                                        <input type="number" class="form-control" name="bedroom" id="bedroom"
                                               placeholder="Số phòng ngủ">
                                    </div>
                                </div>


                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Số phòng chức năng (*)</span>
                                        <input type="number" class="form-control" name="function_room"
                                               id="function_room"
                                               placeholder="Số phòng chức năng">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Diện tích phòng thờ (*)</span>
                                        <input type="text" class="form-control" name="altar_room" id="altar_room"
                                               placeholder="Phòng thờ">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Số tầng bất động sản (*)</span>
                                        <input type="number" class="form-control" name="number_floor" id="number_floor"
                                               placeholder="Số tầng">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Vị trí tầng bất động sản (*)</span>
                                        <input type="number" class="form-control" name="frequence" id="frequence"
                                               placeholder="Tầng số">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Gía điện (*)</span>
                                        <input type="number" class="form-control" name="electricity_price"
                                               id="electricity_price" placeholder="Giá điện">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Gía nước (*)</span>
                                        <input type="number" class="form-control" name="water_price" id="water_price"
                                               placeholder="Giá nước">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Gía dịch vụ (*)</span>
                                        <input type="number" class="form-control" name="service_price"
                                               id="service_price"
                                               placeholder="Giá dịch vụ">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Gía bất động sản (*)</span>
                                        <input type="number" class="form-control" name="price" id="price"
                                               placeholder="Giá bất động sản">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Hình ảnh mô tả (*)</span>
                                        <input type="file" class="form-control" name="image" id="image">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="map" id="map" placeholder="google map">
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Hướng bất động sản (*)</span>
                                        <select class="form-control" style="padding: 6px" name="direction"
                                                id="direction">
                                            <option value="Chính Đông">Chính Đông</option>
                                            <option value="Đông Nam">Đông Nam</option>
                                            <option value="Chính Nam">Chính Nam</option>
                                            <option value="Tây Nam">Tây Nam</option>
                                            <option value="Chính Tây">Chính Tây</option>
                                            <option value="Tây Bắc">Tây Bắc</option>
                                            <option value="Chính Bắc">Chính Bắc</option>
                                            <option value="Đông Bắc">Đông Bắc</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <span style="color: red; font-size: 12px">Trạng thái bất động sản (*)</span>
                                        <select class="form-control" id="sale_rent" name="sale_rent"
                                                style="padding: 6px">
                                            <option value="1">Đăng bắn</option>
                                            <option value="0">Đăng cho thuê</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <span style="color: red; font-size: 12px">Thể loại bất động sản (*)</span>
                                    <div class="form-group" id="building">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <span style="color: red; font-size: 12px">Tỉnh/thành phố</span>
                                    <div class="form-group" id="provinces">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <span style="color: red; font-size: 12px">Quận/huyện</span>
                                    <div class="form-group" id="districts">

                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <span style="color: red; font-size: 12px">Xã/phường</span>
                                    <div class="form-group" id="wards">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 10px">
                            <span style="color: red; font-size: 12px">Địa chỉ chi tiết (*)</span>
                            <input type="text" class="form-control" name="address" id="address"
                                   placeholder="Địa chỉ chi tiết">
                        </div>

                        <div class="form-group" style="margin-top: 30px">
                            <span style="color: red; font-size: 12px">Mô tả (*)</span>
                            <textarea class="form-control" name="description" id="description" cols="30" rows="10"
                                      placeholder="Mô tẩ bất động sản"></textarea>


                            <button type="button" id="btnSubmit" class="btn south-btn">Chỉnh sửa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ##### Editor Area End ##### -->

<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
    CKEDITOR.replace('description');
</script>

<script>
    $(document).ready(function () {

        $("#btnSubmit").click(function (event) {

            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#fileUploadForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            console.log("submit form")
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/images/load",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    console.log(data);
                    if (validateBuildings()) {
                        var mota = CKEDITOR.instances.description.getData();
                        console.log(mota);
                        var building = $('#fileUploadForm').serializeArray();
                        building.push({name: 'images', value: data.data});
                        building.push({name: 'description', value: mota});
                        building = mapToJson(building);
                        console.log(building);
                        $.ajax({
                            url: '/buildings',
                            type: 'PUT',
                            contentType: 'application/json', //dinh nghia kieu du lieu gui ve server
                            dataType: 'JSON', //dinh nghi kieu du lieu server gui len
                            data: building,
                            headers: {
                                Authorization: 'Bearer ' + document.cookie
                            },
                            success: function (result) { // result la ket qua server tra ve
                                // window.location = "/admin/buildings-categories";
                            },
                            error: function (result) {
                                alert("Sảy ra lỗi! vui lòng thử lại");
                            }
                        });
                    }
                },
                error: function (e) {
                    alert("Sảy ra lỗi! vui lòng thử lại");
                }
            });

        });

    });

    function mapToJson(data) {
        var o = {};
        $.each(data, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return JSON.stringify(o);
    }

    function validateBuildings() {
        var name = document.getElementById("name").value;
        var title = document.getElementById("title").value;
        var car_park = document.getElementById("car_park").value;
        var moto_park = document.getElementById("moto_park").value;
        var floor_area = document.getElementById("floor_area").value;
        var home_frontage = document.getElementById("home_frontage").value;
        var campus_area = document.getElementById("campus_area").value;
        var bedroom = document.getElementById("bedroom").value;
        var function_room = document.getElementById("function_room").value;
        var altar_room = document.getElementById("altar_room").value;
        var number_floor = document.getElementById("number_floor").value;
        var frequence = document.getElementById("frequence").value;
        var electricity_price = document.getElementById("electricity_price").value;
        var water_price = document.getElementById("water_price").value;
        var service_price = document.getElementById("service_price").value;
        var price = document.getElementById("price").value;
        var direction = document.getElementById("direction").value;
        var sale_rent = document.getElementById("sale_rent").value;
        var address = document.getElementById("name").value;
        var description = CKEDITOR.instances.description.getData();


        console.log(name);
        console.log(title);
        console.log(car_park);
        console.log(moto_park);
        console.log(floor_area);
        console.log(home_frontage);
        console.log(campus_area);
        console.log(bedroom);
        console.log(function_room);
        console.log(altar_room);
        console.log(number_floor);
        console.log(frequence);
        console.log(electricity_price);
        console.log(water_price);
        console.log(service_price);
        console.log(price);
        console.log(direction);
        console.log(sale_rent);
        console.log(address);
        console.log(description);


        if (name === "" || name.length > 50 || name < 0) {
            alert("Vui lòng nhập tên bất động sản đúng định dạng dữ liệu (0-50 ký tự)");
            return false;
        }

        if (title === "" || title.length > 2000 || title < 0) {
            alert("Vui lòng nhập tiêu đề bất động sản đúng định dạng tiêu đề (0-2000 ký tự)");
            return false;
        }

        if ((!isNaN(Number(car_park)) && /^\d+$/.test(car_park))) {
            alert("Vui lòng nhập đúng định dạng diện tích car park");
            return false;
        }
        if ((!isNaN(Number(moto_park)) && /^\d+$/.test(car_park)) && moto_park < 0) {
            alert("Vui lòng nhập đúng định dạng diện tích môt park (kiểu số & lớn hơn 0)");
            return false;
        }
        if ((!isNaN(Number(floor_area)) && /^\d+$/.test(floor_area)) && floor_area < 0) {
            alert("Vui lòng nhập đúng định dạng diện tích sàn (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(campus_area)) && /^\d+$/.test(campus_area)) && campus_area < 0) {
            alert("Vui lòng nhập đúng định dạng diện tích khuân viên (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(home_frontage)) && /^\d+$/.test(home_frontage)) && home_frontage < 0) {
            alert("Vui lòng nhập đúng định dạng chiều rộng mặt tiền (kiểu số & lớn hơn 0)");
            return false;
        }
        if ((!isNaN(Number(bedroom)) && /^\d+$/.test(bedroom)) && bedroom < 0) {
            alert("Vui lòng nhập đúng định dạng số phòng ngủ (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(function_room)) && /^\d+$/.test(function_room)) && function_room < 0) {
            alert("Vui lòng nhập đúng định dạng số phòng chức năng (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(altar_room)) && /^\d+$/.test(altar_room)) && altar_room < 0) {
            alert("Vui lòng nhập đúng định dạng số phòng thờ (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(number_floor)) && /^\d+$/.test(number_floor)) && number_floor < 0) {
            alert("Vui lòng nhập đúng định dạng số tầng (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(frequence)) && /^\d+$/.test(frequence)) && frequence < 0) {
            alert("Vui lòng nhập đúng định dạng vị trí tầng (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(electricity_price)) && /^\d+$/.test(electricity_price)) && electricity_price < 0) {
            alert("Vui lòng nhập đúng định dạng giá điện (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(water_price)) && /^\d+$/.test(water_price)) && water_price < 0) {
            alert("Vui lòng nhập đúng định dạng giá nước (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(price)) && /^\d+$/.test(price)) && price < 0) {
            alert("Vui lòng nhập đúng định dạng dữ liệu (kiểu số & lớn hơn 0)");
            return false;
        }

        if ((!isNaN(Number(service_price)) && /^\d+$/.test(service_price)) && service_price < 0) {
            alert("Vui lòng nhập đúng định dạng giá dịch vụ (kiểu số & lớn hơn 0)");
            return false;
        }

        if (direction === "" || direction.length > 50 || direction < 0) {
            alert("Vui lòng nhập đúng định dạng hướng bất động sản (0-50 ký tự)");
            return false;
        }

        if ((!isNaN(Number(sale_rent)) && /^\d+$/.test(sale_rent)) && sale_rent < 0) {
            alert("Vui lòng chọn đúng định dạng trạng thái ");
            return false;
        }

        if (address === "" || address.length > 2000 || address < 0) {
            alert("Vui lòng nhập đúng định dạng địa chỉ chi tiết (0-2000 ký tự)");
            return false;
        }

        if (description === "" || description.length > 2000 || description < 0) {
            alert("Vui lòng nhập đúng định dạng mô tả bất động sản (0-2000 ký tự)");
            return false;
        }

        return true;
    }
</script>
</body>

</html>