<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Chỉnh sửa tin tức</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/js/mi/base.js}"></script>
    <script th:src="@{/js/mi/news-edit.js}"></script>
    <script th:src="@{/js/mi/news.js}"></script>
    <!-- ##### Editor Area End ##### -->

</head>
<body onload="genNewsCategory(),genNewsEdit(),verify('/news-page-edit','GET')">

<!-- #### Header Area Start ##### -->
<div th:replace="common/header :: header"></div>
<!-- ##### Header Area End ##### -->

<!-- ##### Editor Area Start ##### -->
<section class="south-contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-heading">
                    <h6>Thông tin tin tức</h6>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Contact Form Area -->
            <div class="col-12 col-lg-12">
                <div class="contact-form">
                    <form method="post" action="" id="fileUploadForm" name="form_data" enctype="multipart/form-data">

                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Thể loại tin tức (*)</span>
                            <span id="news-category"></span>
                        </div>

                        <input type="hidden" name="id" id="id">
                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Tên tin tức (*)</span>
                            <input type="text" class="form-control" name="name" id="name"
                                   placeholder="Tên tin tức">
                        </div>

                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Tiêu đề tin tức (*)</span>
                            <input type="text" class="form-control" name="title" id="title"
                                   placeholder="Tiêu đề tin tức">
                        </div>

                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Hình ảnh mô tả (1)</span>
                            <input type="file" class="form-control" name="image" id="image">
                        </div>

                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Nội dung tin tức (*)</span>
                            <textarea class="form-control" name="content" cols="30" rows="10" id="content"
                                      placeholder="Mô tẩ bất động sản"></textarea>
                        </div>
                        <button type="button" id="btnSubmit" class="btn south-btn">Chỉnh sửa</button>
                        <button type="button" class="btn south-btn"
                                onclick="window.location = '/admin/news'">Quay lại
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<script>
    CKEDITOR.replace('content');
</script>

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function (event) {

            console.log("Start")
            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#fileUploadForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/images/load",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    console.log("Start 1")
                    if (validateNews()) {
                        console.log("Start 2")
                        var mota = CKEDITOR.instances.content.getData();
                        console.log(mota);
                        var news = $('#fileUploadForm').serializeArray();
                        news.push({name: 'images', value: data.data});
                        news.push({name: 'content', value: mota});
                        news = mapToJson(news);
                        console.log(news);
                        $.ajax({

                            url: '/news',
                            type: 'PUT',
                            contentType: 'application/json', //dinh nghia kieu du lieu gui ve server
                            dataType: 'JSON', //dinh nghi kieu du lieu server gui len
                            data: news,
                            headers: {
                                Authorization: 'Bearer ' + document.cookie
                            },
                            success: function (result) { // result la ket qua server tra ve
                                alert("Successful");
                                window.location = "/admin/news";
                            },
                            error: function (result) {
                                alert("Sảy ra lỗi! vui lòng thử lại");
                            }
                        });
                    }
                },
                error: function (e) {
                    alert("Sảy ra lỗi! vui lòng thử lại");
                }
            });

        });

    });

    function mapToJson(data) {
        var o = {};
        $.each(data, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return JSON.stringify(o);
    }

    function validateNews() {
        var name = document.getElementById("name").value;
        var title = document.getElementById("title").value;
        var content = CKEDITOR.instances.content.getData();

        console.log("name", name);
        console.log("title", title);
        console.log("description", content);


        if (name === "" || name.length > 50 || name < 0) {
            alert("Vui lòng nhập tên bất động sản đúng định dạng dữ liệu (0-50 ký tự)");
            return false;
        }

        if (title === "" || title.length > 2000 || title < 0) {
            alert("Vui lòng nhập tiêu đề bất động sản đúng định dạng tiêu đề (0-2000 ký tự)");
            return false;
        }

        if (content === "" || content.length > 2000 || content < 0) {
            alert("Vui lòng nhập đúng định dạng mô tả bất động sản (0-2000 ký tự)");
            return false;
        }
        return true;
    }
</script>
<!-- Popper js -->
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/classy-nav.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>


</body>

</html>