<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Trang chủ</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/mi/location.js}"></script>
    <script th:src="@{/js/mi/home.js}"></script>
    <script th:src="@{/js/mi/buildings.js}"></script>
    <script th:src="@{/js/mi/base.js}"></script>
</head>
<body onload="searchBuilding();generatedProvince();genBuildingCategoryHome();base()">
<!-- Preloader -->
<div id="preloader">
    <div class="south-load"></div>
</div>

<!-- ##### Header Area Start ##### -->
<div th:replace="common/web.header :: header"></div>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<div th:replace="common/web.nav :: nav"></div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Advance Search Area Start ##### -->
<div class="south-search-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="advanced-search-form">
                    <!-- Search Title -->
                    <div class="search-title">
                        <p>Tìm kiếm căn hộ của bạn</p>
                    </div>
                    <!-- Search Form -->
                    <form id="advanceSearch">
                        <div class="row">

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <input type="input" class="form-control" name="input" placeholder="Keyword">
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group" id="provinces">
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group" id="districts">

                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="form-group" id="wards">

                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-xl-3">
                                <div class="form-group" id="building-category">
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-xl-2">
                                <div class="form-group">
                                    <select class="form-control" id="bedRoom" name="bedRoom">
                                        <option value="null">Phòng ngủ</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5+</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-xl-2">
                                <div class="form-group">
                                    <select class="form-control" id="function_room" name="function_room">
                                        <option value="null">Phòng chức năng</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5+</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-12 col-md-4 col-xl-2">
                                <div class="form-group">
                                    <select class="form-control" id="floor_area" name="floor_area">
                                        <option value="null">Diện tích sàn</option>
                                        <option value="20"> 20 m2</option>
                                        <option value="40"> 40 m2</option>
                                        <option value="80"> 80 m2</option>
                                        <option value="100"> 100 m2</option>
                                        <option value="200"> 200 m2</option>
                                        <option value="300"> 300 m2</option>
                                        <option value="400"> 400 m2</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-xl-2">
                                <div class="form-group">
                                    <select class="form-control" id="direction" name="direction">
                                        <option value="Chính Đông">Chính Đông</option>
                                        <option value="Đông Nam">Đông Nam</option>
                                        <option value="Chính Nam">Chính Nam</option>
                                        <option value="Tây Nam">Tây Nam</option>
                                        <option value="Chính Tây">Chính Tây</option>
                                        <option value="Tây Bắc">Tây Bắc</option>
                                        <option value="Chính Bắc">Chính Bắc</option>
                                        <option value="Đông Bắc">Đông Bắc</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-xl-2">
                                <div class="form-group">
                                    <select class="form-control" id="sale_rent" name="sale_rent">
                                        <option value="1">Đang bán</option>
                                        <option value="0">Đang cho thuê</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-8 col-lg-12 col-xl-5 d-flex">
                                <!-- Distance Range -->
                                <div class="form-group">
                                    <input type="input" class="form-control" name="price"
                                           placeholder="Giá tối thiểu (VND)">
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-between align-items-end">
                                <!-- Submit -->
                                <div class="form-group mb-0">
                                    <a href="#" class="btn south-btn" onclick="searchBuilding()">Tìm kiếm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Advance Search Area End ##### -->

<!-- ##### Featured Properties Area Start ##### -->
<section class="featured-properties-area section-padding-100-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading wow fadeInUp">
                    <h2>Thành phố xanh tươi. Cuộc đời trọn vẹn</h2>
                    <p>Nhà đẹp của bạn - Thành công của chúng tôi</p>
                </div>
            </div>
        </div>

        <div class="row" id="buildings">

        </div>
    </div>
</section>
<!-- ##### Featured Properties Area End ##### -->

<!-- ##### Call To Action Area Start ##### -->
<section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image: url(img/bg-img/cta.jpg)">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12">
                <div class="cta-content text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="300ms">Xây niềm tin vững - Dựng uy tín vàng</h2>
                    <h6 class="wow fadeInUp" data-wow-delay="400ms">Tiên phong phát triển - Vững bước thành công</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action Area End ##### -->

<!-- ##### Testimonials Area Start ##### -->
<section class="south-testimonials-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                    <h2>Xây đắp niềm tin cộng đồng</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="testimonials-slides owl-carousel wow fadeInUp" data-wow-delay="500ms">

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide text-center">
                        <h5>Khó khăn về nguồn vốn khiến loạt dự án trên đất vàng đổi chủ</h5>
                        <p>Khó khăn về nguồn vốn và đầu ra của thị trường BĐS thời gian qua đã “vắt kiệt” sức chịu đựng
                            của nhiều doanh nghiệp địa ốc. Điều này khiến không ít quỹ đất vàng phải đổi chủ. Nổi bật
                            trong 6 tháng đầu năm là các thương vụ đến từ hai ông lớn LDG Group và Danh Khôi. Cụ thể,
                            tại TP.HCM, thông qua việc nhận chuyển nhượng 99,9% vốn của Công ty CP Hiệp Phúc từ Quốc
                            Cường Gia Lai, LDG Group chính thức sở hữu khu căn hộ Sông Đà Riverside. Ở thị trường miền
                            Trung, Danh Khôi Group nổi lên với loạt thương vụ “thâu tóm” có giá trị hàng nghìn tỷ đồng
                            các dự án có vị trí vàng ngay trung tâm TP Đà Nẵng và Nha Trang.</p>

                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide text-center">
                        <h5>Sắp có thêm khu nhà ở xã hội trị giá hơn 3.000 tỷ đồng tại Bắc Ninh</h5>
                        <p>Khu nhà ở xã hội với số vốn đầu tư gần 3.287 tỷ đồng, quy mô hơn 17ha dành để bố trí chỗ ở
                            cho người lao động đang làm việc trong khu công nghiệp tại phường Vân Dương, TP. Bắc Ninh.
                            Dự kiến, quy mô dân số vào khoảng 7.268 người. Đất xây dựng nhà ở xã hội sẽ gồm các khối nhà
                            chung cư cao tối đa 15 tầng (không tính tầng kỹ thuật, tầng tum). Đây sẽ là những công trình
                            điểm nhấn về chiều cao, kiến trúc, tạo cảnh quan đô thị cho dự án.</p>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide text-center">
                        <h5>Chi 4.800 tỷ đồng xây dựng cây cầu đầu tiên bắc qua sông Thị Vải</h5>
                        <p>Theo thông tin từ ông Trần Thượng Chí, Giám đốc Sở Giao thông Vận tải Bà Rịa - Vũng Tàu, dự
                            án cầu Phước An được đầu tư 4.879 tỷ đồng, lấy từ vốn Trung ương và địa phương. Cầu có tổng
                            chiều dài hơn 3,7km, bắc qua sông Thị Vải. Trong đó, chiều dài cầu Phước An là 3,4km. Dự án
                            có quy mô 6 làn xe, nối thị xã Phú Mỹ (tỉnh Bà Rịa - Vũng Tàu) và huyện Nhơn Trạch (tỉnh
                            Đồng Nai). Cây cầu sẽ giúp giảm tải cho quốc lộ 51, nối khu vực cảng Cái Mép - Thị Vải với
                            cao tốc Bến Lức - Long Thành đi các tỉnh miền Tây.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Testimonials Area End ##### -->

<!-- ##### Editor Area Start ##### -->
<section class="south-editor-area d-flex align-items-center">
    <!-- Editor Content -->
    <div class="editor-content-area">
        <!-- Section Heading -->
        <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
            <img src="img/icons/prize.png" alt="">
            <h2>Trần Đức Đạo</h2>
            <p>Realtor</p>
        </div>
        <p class="wow fadeInUp" data-wow-delay="500ms">Trường: Đại học công nghiệp Hà Nội - Khoa: Công nghệ thông tin -
            Ngành: Kỹ thuật phần mềm - Lớp : KTPM03 - </p>
        <div class="address wow fadeInUp" data-wow-delay="750ms">
            <h6><img src="img/icons/phone-call.png" alt=""> +45 123 456 789</h6>
            <h6><img src="img/icons/envelope.png" alt=""> daogreyt@gmail.com</h6>
        </div>
        <div class="signature mt-50 wow fadeInUp" data-wow-delay="1000ms">
            <img src="img/core-img/signature.png" alt="">
        </div>
    </div>

    <!-- Editor Thumbnail -->
    <div class="editor-thumbnail">
        <img src="img/bg-img/editor.jpg" alt="">
    </div>
</section>
<!-- ##### Editor Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<div th:replace="common/web.footer :: footer"></div>
<!-- ##### Footer Area End ##### -->

<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/classy-nav.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>


</body>

</html>