<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Đăng nhập</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/mi/login.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>

<body>

<!-- ##### Header Area Start ##### -->
<div th:replace="common/web.header :: header"></div>
<!-- ##### Header Area End ##### -->

<section class="listings-content-wrapper section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-heading">
                    <h6>Đăng nhập</h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="content-sidebar">
                    <!-- Address -->
                    <div class="address mt-30">
                        <h6><img src="img/icons/phone-call.png" alt=""> +84 123456789</h6>
                        <h6><img src="img/icons/envelope.png" alt=""> daogreent@gmail.com</h6>
                        <h6><img src="img/icons/location.png" alt=""> Đao GreenT<br>Hà Nội - Việt Nam
                        </h6>
                    </div>
                </div>
            </div>

            <!-- Contact Form Area -->
            <div class="col-12 col-lg-8">
                <div class="contact-form">
                    <form id="login">
                        <div class="alert alert-primary" role="alert" style="display: none" id="alert">
                            Tên tài khoản hoặc mật khẩu không chính xác !!
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="user_name" id="contact-name"
                                   placeholder="Account name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="contact-number"
                                   placeholder="password">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn south-btn" onclick="subitLogin()">Đăng nhập</button>
                            <button type="button" class="btn south-btn" onclick="window.location='/signup'">Đăng ký
                            </button>
                            <button type="button" class="btn south-btn" onclick="show()">Quên mật khẩu</button>
                        </div>
                    </form>

                    <div style="display: none" id="forgot">
                        <form id="forgot-password" name="forgot">
                            <div class="form-group">
                                <input type="text" class="form-control" name="user_name" id="contact-namea"
                                       placeholder="Account name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" id="email"
                                       placeholder="email">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn south-btn" onclick="forgotPassword()">Xác thực</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Listing Content Wrapper Area End ##### -->
<div th:replace="common/web.footer :: footer"></div>
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->

<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/classy-nav.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>-->


<script>

    function forgotPassword() {
        var data = $('#forgot-password').serializeArray();
        console.log(data);
        $.ajax({
            url: '/forgot/password',
            type: 'PUT',
            contentType: 'application/json', //dinh nghia kieu du lieu gui ve server
            dataType: 'JSON', //dinh nghi kieu du lieu server gui len
            data: mapToJson(data),
            success: function (result) { // result la ket qua server tra ve
                alert("Xác thự thành công! vui lòng kiểm tra Gmail");
            },
            error: function (result) {
                alert("Gmail không chính xác, vui lòng thử lại");
            }
        });
    };

    function show() {
        $('#forgot').show();
    }

    function mapToJson(data) {
        var o = {};
        $.each(data, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });

        return JSON.stringify(o);
    }

</script>


</body>
</html>