<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Tin tức</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/mi/news-category.js}"></script>
    <script th:src="@{/js/mi/news-detail.js}"></script>
    <script th:src="@{/js/mi/base.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>

<body onload="genNewsCategory(),base(),genNewsDetail()">

<!-- ##### Header Area Start ##### -->
<div th:replace="common/web.header :: header"></div>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<div th:replace="common/web.nav :: nav"></div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Advance Search Area Start ##### -->
<!-- ##### Advance Search Area End ##### -->

<!-- ##### Listings Content Area Start ##### -->
<section class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">

                <div class="single-blog-area" id="news-detail">

                </div>

                <div class="comments-area">

                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">
                    <!-- Catagories Widget -->
                    <div class="south-catagories-card mb-70">
                       <div id="news-category"></div>
                    </div>

                    <!-- Catagories Widget -->
                    <div class="featured-properties-slides owl-carousel">

                        <!-- Single Slide -->
                        <div class="single-featured-property">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="http://localhost:8888/56b160e1-fef3-4d4e-b160-e1fef35d4eff" alt="">

                                <div class="list-price">
                                    <p>$945 679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>BCONS PLAZA</h5>
                                <p class="location"><img src="img/icons/location.png" alt="">Phường Bình Thắng, Thị xã Dĩ An, Tỉnh Bình Dương</p>
                                <p>BÁN CĂN HỘ BCONS PLAZA NGAY CỬA NGÕ ĐẠI HỌC THỦ ĐỨC, GIÁ TỪ 1,6 TỶ/ CĂN 2 PHÒNG NGỦ, ĐÃ BAO GỒM THUẾ</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">
                                        <img src="img/icons/new.png" alt="">
                                    </div>
                                    <div class="bathroom">
                                        <img src="img/icons/bathtub.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="garage">
                                        <img src="img/icons/garage.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="space">
                                        <img src="img/icons/space.png" alt="">
                                        <span>120 sq ft</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-featured-property">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="http://localhost:8888/c45a1698-52ec-46d1-9a16-9852ec06d108" alt="">
                                <div class="list-price">
                                    <p>$945 679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Sungroup Sầm sơn - Thanh hoá</h5>
                                <p class="location"><img src="img/icons/location.png" alt="">Thành phố Sầm Sơn, Tỉnh Thanh Hóa</p>
                                <p>BÁN GẤP BIỆT THỰ NGHỈ DƯỠNG SUN GROUP SẦM SƠN, THANH HÓA (10 SUẤT NGOẠI GIAO)</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">
                                        <img src="img/icons/new.png" alt="">
                                    </div>
                                    <div class="bathroom">
                                        <img src="img/icons/bathtub.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="garage">
                                        <img src="img/icons/garage.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="space">
                                        <img src="img/icons/space.png" alt="">
                                        <span>120 sq ft</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Listings Content Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<div th:replace="common/web.footer :: footer"></div>
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->

<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/classy-nav.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>
<!-- Google Maps -->
</body>

</html>