<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Thông tin tài khoản</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/mi/location.js}"></script>
    <script th:src="@{/js/mi/register.js}"></script>
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script th:src="@{/js/mi/base.js}"></script>
    <script th:src="@{/js/mi/account-edit.js}"></script>
</head>
<body onload="generatedProvince(),base(),genAccount()">

<!-- ##### Header Area Start ##### -->
<div th:replace="common/web.header :: header"></div>
<!-- ##### Header Area End ##### -->

<!-- ##### Editor Area Start ##### -->
<section class="south-contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-heading">
                    <h6>Thông tin tài khoản</h6>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Contact Form Area -->
            <div class="col-12 col-lg-12">
                <div class="contact-form">
                    <form id="create-admins">
                        <input type="hidden" id="id" value="">
                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Tên đăng nhập (*)</span>
                            <input type="text" class="form-control" name="user_name" id="user_name"
                                   placeholder="Tên đăng nhập">
                        </div>

                        <div class="form-group password1" style="display: none">
                            <span style="color: red; font-size: 12px">Mật khẩu (*)</span>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Mật khẩu">
                        </div>

                        <div class="form-group password1" style="display: none">
                            <span style="color: red; font-size: 12px">Nhập lại mật khẩu (*)</span>
                            <input type="password" class="form-control" name="password-2" id="password-2"
                                   placeholder="Mật khẩu xác nhận">
                        </div>

                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Tên đầy đủ (*)</span>
                            <input type="text" class="form-control" name="full_name" id="full_name"
                                   placeholder="Tên đầy đủ">
                        </div>

                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Số liên hệ (*)</span>
                            <input type="text" class="form-control" name="phone" id="phone"
                                   placeholder="Số điện thoại">
                        </div>

                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Gmail liên hệ (*)</span>
                            <input type="text" class="form-control" name="email" id="email"
                                   placeholder="Gmail">
                        </div>
                        <span style="color: red; font-size: 12px">Tỉnh-Thành phố (*)</span>
                        <div class="form-group" id="provinces"></div>

                        <span style="color: red; font-size: 12px">Quận - Huyện</span>
                        <div class="form-group" id="districts"></div>

                        <span style="color: red; font-size: 12px">Xã - Phường (*)</span>
                        <div class="form-group" id="wards"></div>

                        <div class="form-group">
                            <span style="color: red; font-size: 12px">Địa chỉ (*)</span>
                            <input type="text" class="form-control" name="address" id="address"
                                   placeholder="Địa chỉ chi tiết">
                        </div>

                        <button type="button" class="btn south-btn " id="change-info" onclick="show()">Chỉnh sửa thông
                            tin
                        </button>
                        <button type="button" class="btn south-btn " id="change" onclick="submitChangeInfo()" style="display: none">
                            Cập nhật
                        </button>
                        <button type="button" class="btn south-btn" onclick="window.location = '/home'">Quay lại
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ##### Editor Area End ##### -->
<script>
    function show() {
        $('#full_name').prop("disabled", false);
        $('#phone').prop("disabled", false);
        $('#email').prop("disabled", false);
        $('#address').prop("disabled", false);

        document.getElementById("change-info").style.display = 'none'
        document.getElementById("change").style.display = 'inline'

        $('.password1').show();

    }
</script>
</body>
</html>