<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Danh sách bất động sản</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/mi/user-buildings.js}"></script>
    <script th:src="@{/js/mi/base.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>

<body onload="genUserBuildingsTable(0,0),base()">
<!-- ##### Header Area Start ##### -->
<div th:replace="common/web.header :: header"></div>
<!-- ##### Header Area End ##### -->

<section style="padding-left: 5%; padding-right: 5%; padding-top: 10%">
    <h4>Danh sách bất động sản</h4>
    <a href="/admin/new-buildings" class="btn south-btn btn-3 m-1">Thêm mới</a>
    <a href="#" onclick="genUserBuildingsTable(0,0)" class="btn south-btn btn-3 m-1">Tất cả</a>
    <a href="#" onclick="genUserBuildingsTable(1,1)" class="btn south-btn btn-3 m-1">Đang hoạt động - đang bán</a>
    <a href="#" onclick="genUserBuildingsTable(1,2)" class="btn south-btn btn-3 m-1">Đang hoạt động - cho thuê</a>
    <a href="#" onclick="genUserBuildingsTable(2,1)" class="btn south-btn btn-3 m-1">Chờ duyệt - cho bán</a>
    <a href="#" onclick="genUserBuildingsTable(2,2)" class="btn south-btn btn-3 m-1">Chờ duyệt - cho thuê</a>

    <a href="#" onclick="genFileExcel()" class="btn south-btn btn-3 m-1">Xuất file Excel</a>

    <div id="user-buildings-table" style="margin: auto"></div>

    <nav aria-label="Page navigation example" style="float: right">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>

</section>

<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/classy-nav.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>
<!-- Google Maps -->
</body>

</html>